<h1>Problems</h1>

<%= form_for(current_user, as: current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>

<div class="problemdiv">

<% @new_problem.each do |x| %>
	<%= @new_problem %>
	<br>
<% end %>


	<% end %>

	
</div>


<% end %>


