<% content_for :top_content do %>

	<h1> Welcome!</h1>
	<p>Register to get started</p>
	<p>
		<%= link_to 'Register', new_user_registration_path %>
		<%= link_to 'Log in', new_user_session_path %>
	</p>

<% end %>